/* layout */

.stack {
	display: flex;
	flex-direction: column;
	
	flex: 1 1 auto;
}

.hori {
	display: flex;
	flex-direction: row;
	
	flex: 1 1 auto;
}

/* endregion layout */

/* areas */

#page-wrapper {
	margin: 1; 
}

.header-bar {	
	display: flex;
	flex-direction: row;

	background-color: var(--main-color); 
}

.toolbar {	
		display: flex;
		flex-direction: row;
	
		background-color: var(--accent-color-1);		
		height: 1vw;	
}

.page-content {
	flex: 1 1 auto;
	
	background-color: var(--secondary-color-2);
	padding: 1vw;
}

.sidebar {
	flex: 0 0 auto;
	
	width: 10 vw;
	padding: 1vw;
	
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 2.5px;
	
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2.5px;
}
 
.footer-bar {
	color : var(--accent-color-2);
	background-color: var(--main-color); 	
}

/* end region - areas */

#logo-img {
	width: 7vw;
	margin: 5;
}

h1 {
	margin-left: 1vw;
	
	color : var(--secondary-color-1);
}
 
:root {
	
	--main-color: #004907;
	--secondary-color-1: #FFFFFF;
	--secondary-color-2: #8F9491;
	--accent-color-1: #6E0082;
	--accent-color-2: #8BAC8E;
	
}     